


/*
                    FUENTE DE GOOGLE
*/

@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;400;600;700&display=swap');



*
{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Yaldevi', sans-serif;/*<<<<<<<<<<<<<<<<<<<<< FUENTE Yaldevi */
    /* scroll-behavior: smooth; */
}

/* ****************************************************************** */
/* **********LATYOUT EN INDEX                           ************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* **********LATYOUT EN INDEX                           ************** */
/* ****************************************************************** */

.header{grid-area: header;}
.main{grid-area: main;    }
.foo{grid-area: foo;}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:'header'
                        'main';
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto ;
}
.header
{
    background-color: rgb(33,37,41);
    border-bottom: 1px solid rgb(141, 141, 141);
    overflow: hidden;
}

.main
{
    overflow-y: auto;
    display: contents;
  
}
.main>h1{
    margin-top: 32px;
    position: relative;
    text-align: center;
}
/* 

.foo{
    width: 100%;
    height: 100%;
    background-color: rgb(33,37,41);
} */


.main__footer
{
    margin-top: 32px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120xp;
    background-color:rgb(33,37,41) ;
}
.main__footer p 
{
    color: white;
}




/* ****************************************************************** */
/* **********************LINK NAVBAR                    ************* */
/* ****************************************************************** */

/* ****************************************************************** */
/* **********************LINK NAVBAR                    ************* */
/* ****************************************************************** */

.menu__container>h1{color: white;}

.menu__container{

display:flex;
justify-content: space-between;
width:90%;
max-width:1200px;
height:100%;
align-items:center;
margin: 0 auto;
}

.menu__links{
	padding: 0 30px;
	display: flex;
	height: 100%;
	align-items:center;
    color: white;
    gap: 24px;

}


.menu__link{
    color: white;
}

.menu__link:hover
{
    border-bottom: 1px solid white;
    padding: 5px 0;
   
}

/* ****************************************************************** */
/* ******************************FLEX ITEMS LIST CARD ************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ******************************FLEX ITEMS LIST CARD ************** */
/* ****************************************************************** */
/* ****************************************************************** */
/* ******************************FLEX ITEMS LIST CARD ************** */
/* ****************************************************************** */


.main__list_item
{
    position: relative;
    display: grid;

}
.main__list
{
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(25rem,1fr)); */
    gap: 1rem;
    margin: 32px;
}





/* ****************************************************************** */
/* ********** SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR ************** */
/* ****************************************************************** */


/* ****************************************************************** */
/* ******* SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR ************** */
/* ****************************************************************** */


.main::-webkit-scrollbar {
    width: 4px;     /* Tama単o del scroll en vertical */
    height: 8px;    /* Tama単o del scroll en horizontal */
}
.main::-webkit-scrollbar-thumb {

    background: rgb(150, 150, 150);
    border-radius: 10px;
}
.main::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.main::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}




/* ****************************************************************** */
/* **********ESTILO DEL CARD DE LOS ITEMS ************** */
/* ****************************************************************** */

/* ****************************************************************** */
/* **********ESTILO DEL CARD DE LOS ITEMS ************** */
/* ****************************************************************** */


.card__img
{
    position: relative;
    height: 200px;
    border-radius: 4px;
    transition: all .1s ease-in-out;
    background-color:  rgba(0, 0, 0, 0.46);
}
.card__img:hover
{
    transform:  scale(1.02); 
    transition: all .1s ease-in-out;
}
.card__img img
{
    width: 100%;
    height: 200px;
    border-radius: 4px;
    border-top: 4px solid rgba(0, 0, 0, 0.46);
    border-bottom: 4px solid rgba(0, 0, 0, 0.46);

}
.card__info
{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    top:0 ;
    opacity: 0;
    transform: translate(0, 15px);
    transition: all .3s;
    cursor: pointer;
  
}
.card__info:hover{
    opacity: 1;
    color: white;
    transition: all .3s ease-in-out;
    transform: translate(0, 0px);
    
}


.card__info__item
{
    
    display: flex;
    position: absolute;
    flex-direction: column;


    width: 140px;
    height: 33%;
    bottom: 4px;
    right: 0;
    
    background-color: rgba(0, 0, 0, 0.50);    
    border-radius: 4px 0px 0px 0px;
    padding: 5px;

    font-size: .9rem;
 
}
.card__info__item ol
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card__info__item > p:nth-child(2)
{
    display: flex;
    justify-content: space-between;

}
.card__info__item > p:nth-child(2):hover
{
    color: rgb(167, 165, 165);
}
.card__info > iframe {
    height: 33%;
    width: 140px;
    position: absolute;
    bottom:4px;
    border-radius: 4px 4px 0 0;
    left: 140px;
}
/* *****************************************************************    * */
/* **********                           CONTACTO         ***********    * */
/* *****************************************************************    * */
/* *****************************************************************    * */
/* **********                            CONTACTO           *********   * */
/* ****************************************************************** */
/* *****************************************************************    * */
/* **********                            CONTACTO           *********   * */
/* ****************************************************************** */
/* *****************************************************************    * */
/* **********                            CONTACTO           *********   * */
/* ****************************************************************** */
.main__contacto{
    display: flex;
}
.main__contacto__img> img{
    width: 100%;
    height: 100%;
}
.main__contacto__email
{

    display: flex;
    flex-flow: column nowrap;
    color:rgb(0, 0, 0);
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left:40px ;
    padding-right: 40px;
}
.contacto__email form
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-flow: row nowrap;
}  



#correo{ 
    padding: 10px;
    border-style: none;background-color: rgb(216, 216, 216);
}
#correo:focus
{
border:none;
outline:none;
}

.contacto__submit
{
  
    border-style: none;
    width: 60px;
    padding: 10px;
    
}
.contacto__submit:hover{
    background-color: rgb(175, 175, 175);
}

.contacto__email > p{
    font-size: 1rem;
}





.mensaje__input-valid
{

    margin-top: 8px;
    
    visibility: hidden;

    position: relative;
    
    padding: 5px 0px;
    width:  244px ;
    transition:  .2s ease-in-out;
    border: 1px solid transparent;
    color: transparent;

    
}
.mensaje__valido-si
{
    visibility: visible;
    transition:  .2s ease-in-out;
    color: green;
    border: 1px solid green;
}
.mensaje__valido-no
{
    visibility: visible;
    transition:  .2s ease-in-out;
    color: red;
    border: 1px solid red;
}










body > div > main > footer > div.foo__contacto > div.social__link
{
    font-size: 48px;
    width: 48;;
}
.social__link >li >i {
    color: white;
}
.social__link a i
{
    margin:8px 8px;
    font-size: 32px;

    color: white;
}





/* ****************************************************************** */
/* **********MEDIA QUERIES                          ************** */
/* ****************************************************************** */



@media screen and (max-width:576px) {
    .card__info{
        opacity: 1;
         transform: translate(0, 0px); 
    }
    .container{
     
      grid-template-rows: 80px auto ;
    }
    .menu__links
    {
        align-items: center;
    }
    .menu__container{
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        width:90%;
        max-width:1200px;
        height:100%;
        align-items:center;
        margin: 0 auto;
        }
/* ****************************************************************** */
/* **********           CONTACTOS                      ************** */
/* ****************************************************************** */
.main__contacto{
    width: 100%;
    height: 100vh;
}
.main__contacto__img> img{
    width: 100%;
    height: 100%;
}
.main__contacto__email
{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column nowrap;

    color:rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
  

    width: 100%;
    height: 100%;
  
    padding-left:40px ;
    padding-right: 40px;
    margin-right:auto;
    margin-left:auto;

}
.contacto__email > p{
    font-size: .7rem;
}



}
@media screen and (min-width:576px) {

/* ****************************************************************** */
/* **********           CONTACTOS                      ************** */
/* ****************************************************************** */

    .main__list{
        grid-template-columns: 1fr 1fr;
    
        }
.main__contacto__email .social__link a i
        {
            margin:8px 8px;
            font-size: 32px;
        
            color: black;
        }
        

}


@media  screen and (min-width:768px) {


    .main__list{
        grid-template-columns: 1fr 1fr;
    
        }
/* ****************************************************************** */
/* **********           CONTACTOS                      ************** */
/* ****************************************************************** */

.main__contacto{
    width: 100%;
    height: 100vh;
}
.contacto__email > p{
        font-size: .7rem;
    }    
}
@media  screen and (min-width:992px) {
    
    .body_contac{
        overflow-y: auto;
    }
    .body_contac::-webkit-scrollbar {
        width: 4px;     /* Tama単o del scroll en vertical */
        height: 8px;    /* Tama単o del scroll en horizontal */
    }.body_contac::-webkit-scrollbar-thumb {
    
        background: rgb(150, 150, 150);
        border-radius: 10px;
    }.body_contac::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }.body_contac::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }
    .main__list{
        grid-template-columns: repeat(3,.8fr);
    
        }

/* ****************************************************************** */
/* **********           CONTACTOS                      ************** */
/* ****************************************************************** */
    .main__contacto__email{
        background-color: rgb(33,37,41);
        color:white;
    }

    .main__contacto__email .social__link a i
    {
        margin:8px 8px;
        font-size: 32px;
    
        color: white;
    }
}

