*
{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;


}
.header{grid-area: header;}
.main{grid-area: main;}
.foo{grid-area: foo;}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 'header'
                            'main'
                            'foo';
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 40px;
}
.header
{
    background-color: white;
    border-bottom: 1px solid rgb(141, 141, 141);
}

.main
{
    overflow: auto;
}